.datatypeSelector {
    display: flex; 
    justify-content: space-between;
    width: 250px;
    border: solid 1px var(--gray);
    border-radius: 10px;
    padding: 5px 20px;
    margin-bottom: 5px;
}

.datatypeActive {
    display: flex; 
    justify-content: space-between;
    width: 250px;
    border: solid 1px var(--gray);
    border-radius: 10px;
    padding: 5px 20px;
    margin-bottom: 5px;
    background-color: #E6DEED;
}

.extra {
    color: #989895;
}

.datatypeSelector:hover {
    background-color: var(--gray2);
}

.datatypeSelector:active {
    background-color: var(--p1);
}

#datatypeContainer {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.datatypeVideo {
    width: 75%;
}
