/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.subheader {
  font-weight: 300;
  margin-bottom: 50px;
  font-size: 20px;
}

.buttons {
  display: flex;
  justify-content: flex-start;
  gap: 50px;
}

.headerLeft {
  width: 50%;
  margin: 30px;
}

.headerRight {
  width: 50%;
  margin: 50px;
}

.header {
  color: white;
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 415px;
  background: #6a1b9a;
  width: 100%;
  overflow: hidden;
}

.teaserTitle {
  font-size: 30px;
}
