.container {
  background-image: linear-gradient(140deg, hsl(277deg 70% 35%) 0%, hsl(277deg 43% 55%) 100%);
  color: white;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  padding-bottom: 25px;
}

.testimonials {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 50px;
}

@media (max-width: 768px) {
  .testimonials {
    flex-direction: column;
    align-items: center;
  }
}

.innerContainer {
  padding: 50px;
  max-width: 1300px;
  padding-top: 30px;
  margin: auto;
}
