.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureIcon {
  max-width: 100px;
  margin: auto;
}

.featureContainer {
  display: flex;
  flex-basis: 100%;
  gap: 50px;
  flex-wrap: wrap;
  flex-grow: 1;
}
.right {
  width: 60%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: middle;
  justify-content: end;
}
/* Add this at the bottom of your CSS file */
@media (max-width: 768px) {
  .right {
    justify-content: start;
  }
}

.reportWrapper {
  display: flex;
  align-items: center;
}

.left {
  width: 40%;
  margin-right: 10px;
  margin-left: 10px;
}

@media only screen and (max-width: 700px) {
  .reportWrapper {
    flex-direction: column;
  }
  .left {
    width: 100%;
    margin-bottom: 30px;
    justify-content: center;
  }
  .right {
    width: 100%;
  }
}

.featureWrapper {
  /* background: linear-gradient(rgba(137,133,199,1) 0%, rgba(126,121,196,1) 100%); */
  border-radius: 20px;
  padding: 20px;
  flex: 1;
  min-width: 200px;
  border: var(--gray) solid 1px;
  box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.25);
}

.centerText {
  text-align: center;
}

.featureArrow {
  position: absolute;
}
