.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureIcon {
  max-width: 100px;
  margin: auto;
}

.featureContainer {
  display: flex;
  flex-basis: 100%;
  gap: 50px;
  flex-wrap: wrap;
  flex-grow: 1;
}
.left {
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: middle;
  padding-right: 50px;
}

.reportWrapper {
  display: flex;
}

.right {
  width: 50%;
  margin-right: 10px;
  margin-left: 10px;
}

@media only screen and (max-width: 700px) {
  .reportWrapper {
    flex-direction: column;
  }
  .left {
    width: 100%;
    justify-content: left;
  }
  .right {
    width: 100%;
  }
}

.featureWrapper {
  /* background: linear-gradient(rgba(137,133,199,1) 0%, rgba(126,121,196,1) 100%); */
  border-radius: 20px;
  padding: 20px;
  flex: 1;
  min-width: 200px;
  border: var(--gray) solid 1px;
  box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.25);
}

.centerText {
  text-align: center;
}

.featureArrow {
  position: absolute;
}

.imageWrapper {
  padding: 20px 10px;
  background-image: url("/img/report-long.png");
  width: 100%;
  height: 100%;
  min-height: 100px;
  margin-right: 20px;
  background-size: cover;
  background-position: top left;
  transition-property: background;
  transition-duration: 1.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.imageWrapper:hover {
  background-position: bottom right;
}
