.buttons {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 25px;
}

.headerContainer {
  width: 100vw;
  background: #6a1b9a;
  margin: 0px auto;
}

.header {
  max-width: 1300px;
  margin: 0px auto;
  color: white;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.headerLeft {
  margin: 30px;
}

.video-div {
  position: relative;
  padding-bottom: 60.810810810810814%;
  height: 0;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.headerRight {
  width: 100%;
  margin: 50px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 700px) {
  .header {
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .header video {
    width: 100%;
  }
  .headerLeft {
    width: 100%;
    margin: 30px;
  }
}

.subheader {
  font-weight: 300;
  margin-bottom: 50px;
  font-size: 24px;
}
