.buttons {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 25px;
}

.header {
  color: white;
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background: #6a1b9a;
  width: 100%;
  overflow: hidden;
}

.headerLeft {
  margin: 30px;
}

.headerRight {
  width: 100%;
  margin: 50px;
}

@media only screen and (max-width: 700px) {
  .header {
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .header video {
    width: 100%;
  }
  .headerLeft {
    width: 100%;
    margin: 30px;
  }
}

.subheader {
  font-weight: 300;
  margin-bottom: 50px;
  font-size: 24px;
}
