.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.iframeContainer {
  display: flex;
}

.iframe {
  height: 250px;
}

@media (max-width: 768px) {
  .iframe {
    height: 1000px;
  }
}
