.group {
  width: 100%;
  padding: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  margin-left: 20px;
  margin-right: 20px;
}

.intro {
  color: black;
  opacity: 50%;
  padding: 0px;
  margin: auto;
  margin-right: 30px;
  text-align: center;
}

.sponsorsWrap {
  background-color: #f2f2ee;
  padding: 20px;
}
